.rules {
	margin-bottom: 90px;
	@media screen and (max-width: 1199px) and (min-width: 768px) {
		margin-bottom: 0;
	}
	&__wrap {
		padding-left: 3px;
		@media screen and (max-width: 1199px) and (min-width: 768px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
	&__caption {
		margin-bottom: 25px;
	}
	&__block {
		position: relative;
		float: left;
		width: 50%;
		@media screen and (min-width: 1200px) {
			width: 25%;
		}
		margin-left: -1px;		
		&:nth-of-type(even) {
			margin-top: 80px;
		}
		height: 412px;
		padding: 40px;			
		@media screen and (max-width: 1199px) and (min-width: 768px) {
			height: 370px;
			&:nth-of-type(3) {
				top: -81px;
			}
			&:nth-of-type(4) {
				top: -81px;
			}
		}
		&:hover {
			.rules {
				&__icon {
					stroke: $accent-color2;
				}
				&__block_cover {
					opacity: 1;
					z-index: 1;
				}
			}
			.btn-more__text {
				position: relative;
				opacity: 1;
				color: $accent-color2;
			}
			.btn-arrow {
				fill: $accent-color2;
			}
			.border {
				z-index: -1;
			}
		}		
		&_cover {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			border: {
				width: 1px;
				style: solid;
				color: $accent-color2;
			}
			background-color: $light-color;
			opacity: 0;
			box-shadow: 0px 20px 40px 0px rgba(244, 125, 66, 0.33),0px 20px 40px 0px rgba(0, 0, 0, 0.1);
			transition: $transition;
		}
	}
	&__icon {
		position: relative;
		z-index: 1;
		width: 60px;
		height: 60px;
		margin-bottom: 80px;
		stroke: $accent-color1;
		@media screen and (max-width: 1199px) and (min-width: 768px) {
			margin-bottom: 40px;
		}
	}
	&__title {
		position: relative;
		z-index: 1;
		min-height: 2.3em;
		margin-bottom: 10px;
		font-family: $font-heading;
		font-size: 24px;
	}
	&__text {
		position: relative;
		z-index: 1;
		min-height: 6.1em;
		font-size: 14px;
		line-height: 1.5;
	}
	.btn-arrow {
		fill: $accent-color1;
	}
	.btn-more {
		position: absolute;
		bottom: 25px;
		left: 40px;
		z-index: 2;
		&__text {
			color: $accent-color1;
		}
	}
	.border {
		background-color: #cecece;
		z-index: 0;
		&-top,
	  &-bottom {
	  	width: calc(100% + 30px);
	  }
	  &-top {
	  	left: -20px;
	  }
	  &-bottom {
	  	left: -10px;
	  }
	  &-left,
	  &-right {
			height: calc(100% + 30px);
	  }
	  &-left {
	  	top: -10px;
	  }
	  &-right {
			top: -20px;
	  }
	}
}

@media screen and (max-width: 1024px) {
	.rules {
		&__title {
			min-height: 3em;
		}
		&__text {
			min-height: 3.3em;
		}
	}
}

@media screen and (max-width: 768px) {
	.rules {
		&__block {
			width: 100%;
			height: auto;
			padding: 20px;
			margin-top: -1px;
			margin-left: 0;
			&:nth-of-type(2n) {
				margin-top: -1px;
			}
		}
		&__cover {
			display: none;
		}
		.border {
			display: block;
		}
		&__icon {
			margin-bottom: 30px;
		}
		&__title {
			min-height: initial;
		}
		&__text {
			min-height: initial;
		}
		.btn-more {
			position: static;
		}
	}
}