$font-heading: 'PTAstraSans-Bold', sans-serif;
$font-regular: 'PTAstraSans-Regular', sans-serif;
$font-accent: 'PTSans-Regular', sans-serif;
$font-btn: 'PTSans-Bold', sans-serif;
$dark-color: #000;
$light-color: #fff;
$accent-color1: #9197a1;
$accent-color2: #f47d42;
$accent-color3: #014db7;
$btn-hover: #e67c00;
$transition: all 0.2s linear;

%add-el {
	position: absolute;
	content: '';
	display: block;
}
%box-shadow {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}